/*font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif;*/
:root {
  --title-color:#fff;
  --nav-color:#212121;
  --nav-color-hover:#2196F3;
  --nav-adress-color:#757575;
  --nav-adress-hover: #2196F3;
  --main-h2-color:#212121;
  --main-h3-color:#212121;
  --main-text-color:#757575;
  --btn-backgroung-color:#F5F4FA;
  --btn-text-color:#212121;
  --btn-hover-backgroung-color:#2196F3;
  --btn-hover-text-color:#fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #fff;
}

.header-link {
  font-family: "raleway", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--nav-color);
}
.nav-item:hover,
.nav-item:focus {
  color: var(--nav-adress-hover);
}

.header-email {
  text-decoration: initial;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: var(--nav-adress-color);
}
.header-email:hover,
.header-email:focus {
  color: var(--nav-adress-hover);
}
.header-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--nav-adress-color);
}
.header-phone:hover,
.header-phone:focus {
  color: var(--nav-adress-hover);
}
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-hover-text-color);
  background-color: var(--btn-hover-backgroung-color);
}

.subtitle-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-h2-color);
}

.about-title-2 {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
}

.ourteam {
  background-color: #f5f4fa;
}
.ourteam-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.ourteam-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-text-color);
}
.footer {
  background-color: #2f303a;
}
p.adress {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.portfolio-product-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-h3-color);
}
.portfolio-product-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

.hero-button{
  background-color: var(--btn-backgroung-color);
  color:var(--btn-text-color);
  font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

}
.hero-button:hover,
.hero-button:focus {
background-color: var(--btn-hover-backgroung-color);
color: var(--btn-hover-text-color);
}

/*
nav
about-item
regular-text
whatwedo
whatwedo-list
whatwedo-item
whatwedo-link
whatwedo-img
ourteam-img
ourteam-item 
portfolio-product-item
portfolio-product-img*/
